@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
:root {
  --regular-font: Ubuntu, sans-serif;
  --special-font: 'Press Start 2P', Ubuntu, sans-serif;
  --background-color: #333;
  --text-color: #ccc;
  --secondary-text-color: #888;
  --gutter-width: 1.5rem;
  --accent-color: hsla(0, 60%, 50%, 1);
  --in-accent-color: white;
  --base-border-radius: 2px;
}
body {
  background: var(--background-color);
  font-family: var(--special-font);
  font-size: 14px;
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
}

a[href] {
  color: var(--accent-color);
  text-decoration: none;
}

a.button, button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: var(--accent-color);
  color: var(--in-accent-color);
  box-sizing: border-box;
  padding: 1em;
  display: inline-block;
  border-radius: var(--base-border-radius);
}
input {
  font-family: inherit;
}

label {
  cursor: pointer;
}

.full-page() {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  header {
    flex-grow: 0;
    box-sizing: border-box;
    background: var(--accent-color);
    padding: 1rem 0;
    position: relative;
    text-align: center;
    font-size: 120%;


    a.back {
      font-family: var(--regular-font);
      position: absolute;
      display: block;
      justify-content: center;
      align-items: center;
      left: 0;
      top: 0;
      padding-top: .2em;
      height: calc(100% - .2em);
      width: 3rem;
      color: var(--in-accent-color);
      font-size: 2rem;
    }
  }

  main {
    flex-grow: 1;
    padding: var(--gutter-width);
    padding-bottom: calc(var(--gutter-width) * 2);
    box-sizing: border-box;
  }

  footer {
    flex-grow: 0;
    padding: calc(var(--gutter-width) * 2) 0;
  }
}

.line() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: .5em;
  margin-bottom: 1em;
  border-radius: var(--base-border-radius);
  button {
    .line-action-button();
  }
}
.line-action-button() {
  padding: .5em .7em;
  font-family: var(--regular-font);
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid var(--accent-color);
  background: var(--background-color);
  border-radius: var(--base-border-radius);
  transition: 100ms ease-in-out;
}
.line-action-button-active() {
  background: var(--accent-color);
  color: var(--in-accent-color);
}

