<section class="index">
  <header>
    <h1>Ladder</h1>
  </header>
  <main>
    <ul class="ladder">
      {{#each this.model as |player|}}
        <li>
          <span class="name">
            <TypedText @text={{player.name}}/>
          </span>
          <span class="score">
            <TypedText @text={{player.elo}} />
          </span>
        </li>
      {{/each}}
    </ul>
  </main>
  <footer>
    <div class="actions">
      <LinkTo @route="new-session" class="button">Start Session</LinkTo>
    </div>
  </footer>
</section>
